<% @items.each do |item| %>
  <p>
    <strong>Title:</strong> <%= item.title %><br>
    <strong>Description:</strong> <%= item.description %><br>
    <strong>Price: $</strong> <%= item.price %>

  </p>
<% end %>
